body{
    background-color: rgb(0, 0, 0);
}

h1, h2, h3, p{
    color:rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.gap-10 { 
				width:100%; 
				height:10px; 
			} 
.gap-20 { 
				width:100%; 
				height:20px; 
			} 
.gap-30 { 
				width:100%; 
				height:30px; 
			} 


.body_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px; 
  }

  .body_container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px; 
  }

  .body_container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 30px; 
  }


.chart{
    background-color: white;
    width: 30%;
    border-width: 10px;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
}


.long_chart{
    background-color: white;
    width: 100%;
    border-width: 10px;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
}

.charts2{
    background-color: white;
    width: 45%;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.charts3{
    background-color: white;
    width:30%;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}



.button-title {
  margin: 0.5;
  font-family: MetricWeb,sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: rgb(233, 233, 233)
}

.container {  
  width: 300px;  
  height: 300px;  
  border: 5px solid red;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  }  
.button {  
  color: black;  
  font-size: 25px;  
  color: rgb(233, 233, 233);
    font-family: MetricWeb,sans-serif;
    line-height: 20px;
    font-weight: 1000;
    padding: 5px 12px;
    text-decoration: none;

    width: 30%;
    height: 150px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0,255,127);
    border-radius: 10px;
  }  

.button-rubric {
  margin: 50;
  font-family: MetricWeb,sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(233, 233, 233)
}


#environment:hover svg{
  fill:green;
  transition: fill 2000ms linear;
} 

a:hover {
  border-color: rgb(0,255,0);
  text-decoration: none;
  opacity:1;
  border-color: rgb(0,255,0);
}


#container{
    text-align: center;
}

.wrapper {
  text-align: center;
  display: inline-block;
  /*position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 500px;
  margin: auto;
}


/* A media query for a large screen */
@media only screen and (max-width: 450px) {
  body {
    max-width: 95%
  }
 
  .charts2 {
    min-width: 350px;
    padding: 10px
  }
  .charts3 {
    min-width: 350px;
    padding: 10px
  }

  .long_chart {
    min-width: 350px;
    padding: 10px
  }
  .chart {
    min-width: 350px;
    padding: 10px
  }

 
  .body_container {
    border-style: none;
    padding: 1px;
    gap: 10px 10px
  }
}