body{
    background-color: rgb(0, 0, 0);
}

h1, h2, h3, p{
    color:rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}


.dashPage1, .dashPage1More {
    border: 5px;
    border-style: solid;
    border-color: rgb(0,255,127);
    border-radius: 10px;

    margin: 1px 2px 10px 2px;

    padding: 5px 12px;

    max-width: 40%;
    height: 200px;
    
    color: rgb(233, 233, 233);
    font-family: MetricWeb,sans-serif;
    line-height: 20px;
    font-weight: 600;
    
    box-sizing: content-box;
    align-items: flex-start;
    display: inherit;
    font-size: 15px;
    
    text-decoration: none;
    
    outline-offset: 3px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
  }

.dashPage1-title {
  margin: 0;
  font-family: MetricWeb,sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: rgb(233, 233, 233)
}

.dashPage1-rubric {
  margin: 0;
  font-family: MetricWeb,sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(233, 233, 233)
}


.dashPage1:hover svg{
  fill:rgb(0,255,0);
  transition: fill 2000ms linear;
} 

#environment:hover svg{
  fill:green;
  transition: fill 2000ms linear;
} 

a:hover {
  border-color: rgb(0,255,0);
  text-decoration: none;
  opacity:1;
  border-color: rgb(0,255,0);
}

#dashPage1{
    width: 300px;
    height: 40px;
}

#container{
    text-align: center;
}

.wrapper {
  text-align: center;
  display: inline-block;
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 16px;
  padding-right: 16px;
}


/* A media query for a large screen */
@media (min-width: 1170px) {
  .wrapper {
    max-width: 1170px;
  }
}
